$dimwhite: #F2F5FB;
$slate: #54546A;
$sky: #4676C4;
$coolwhite: #F8FAFF;
$white: #F9FBFE;
$aqua: #78C7FF;

$nav-text-size: 18px;

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	background-color: $coolwhite;
}