$dimwhite: #F2F5FB;
$slate: #54546A;
$sky: #4676C4;
$coolwhite: #F8FAFF;
$white: #F9FBFE;
$aqua: #78C7FF;

$nav-text-size: 1.125rem;
$ad-header: calc(25px + (90 - 35) * ((100vw - 300px) / (1920 - 300)));
$ad-sub-header: calc(11px + (40 - 11) * ((100vw - 300px) / (1920 - 300)));

$picker-header: calc(8px + (15 - 8) * ((100vw - 300px) / (1920 - 300)));

@function rem($var)
{
	$size: $var / 16px;

	@return #{$size}rem;
}

@function textRelative($textSize, $size)
{
	@return #{$size / $textSize}em;
}

@mixin text-size($size)
{
	font-size: $size;
	font-size: rem($size);
}

html {
	font-size: 16px;

	@media only screen and (max-width: 1200px) {
		font-size: 12px;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: $coolwhite;
}