$dimwhite: #F2F5FB;
$slate: #54546A;
$dark-slate: #333744;
$sky: darken(saturate(#476EBA, 3.5%), 1%);
$coolwhite: #F8FAFF;
$white: #F9FBFE;
$aqua: #78C7FF;

$hint: #a0a0a0;
$hint-slate: #B5C9FA;

@function rem($var)
{
	@if (unitless($var))
	{
		$var: $var * 1px;
	}

	$size: ($var / 16px);

	@return $size * 1rem;
}

@function strip($number)
{
	@if type-of($number) == 'number' and not unitless($number)
	{
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@function textRelative($textSize, $size)
{
	@return #{$size / $textSize}em;
}

@mixin text-size($size)
{
	font-size: $size;
	font-size: rem($size);
}

html {
	font-size: 16px;

	@media only screen and (max-device-width: 1023px) {
		font-size: 12px;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: $coolwhite;
}