$dimwhite: #F2F5FB;
$slate: #54546A;
$sky: #476EBA;
$coolwhite: #F8FAFF;
$white: #F9FBFE;
$aqua: #78C7FF;

$hint: #a0a0a0;
$hint-slate: #B5C9FA;

@function rem($var)
{
	@if (unitless($var))
	{
		$var: $var * 1px;
	}

	$size: ($var / 16px);

	@return #{$size}rem;
}

@function textRelative($textSize, $size)
{
	@return #{$size / $textSize}em;
}

@mixin text-size($size)
{
	font-size: $size;
	font-size: rem($size);
}

html {
	font-size: 16px;

	//@media only screen and (max-width: 1200px) {
	//	font-size: 12px;
	//}
}

body {
	margin: 0;
	padding: 0;
	background-color: $coolwhite;
}