@import "config.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
	background-color: $dimwhite;
}

.branding {
	position: absolute;
	display: inline-block;
	font-size: inherit;
	height: 5rem;
	width: 5rem;
	top: rem(30px);
	left: calc(50% - 2.5rem);
	cursor: pointer;

	svg {
		width: 100%;
		height: 100%;
	}
}

.fullpage {
	height: 100vh;
	pointer-events: none;
}

.center {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.container {
	pointer-events: auto;
	position: relative;
}

login-form, register-form {
	display: block;
}

login-form {
	margin-bottom: rem(18px) + rem(44px);
}

.form-container {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.controls {
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 0;

	.option {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 20px 0;
		cursor: pointer;
		font-family: "Roboto", sans-serif;
		@include text-size(15px);
		color: $aqua;
		text-transform: uppercase;
		background-color: $white;
		transition: background-color 0.2s ease;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			transition: box-shadow 0.2s ease;
			box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1);
		}

		&[data-selected=true]::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
		}

		&[data-selected=false] {
			background-color: $dimwhite;
			z-index: 1;
		}
	}
}

.field {
	position: relative;
	display: block;
	align-content: center;
	font-family: "Roboto", sans-serif;
	border-bottom: 1px solid darken(white, 10%);

	&:last-of-type {
		border-bottom: none
	}
}

input[type=text],
input[type=password],
input[type=email]{
	$main-size: 18px;

	outline: none;
	border: none;
	@include text-size($main-size);
	width: rem(300px);
	background-color: $white;
	padding: textRelative($main-size, 20px) textRelative($main-size, 25px);
	color: $slate;

	+ label {
		left: textRelative(14px, 25px);
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		@include text-size(14px);
		white-space: nowrap;
		vertical-align: text-bottom;
		color: lighten($slate, 30%);
		cursor: text;
		pointer-events: none;
	}

	&:focus + label {
		display: none;
	}
}

.form-submit {
	$text-size: 16px;
	position: relative;
	width: 100%;
	outline: none;
	border: none;
	padding: textRelative($text-size, 20px) textRelative($text-size, 25px);
	font-family: "Roboto", sans-serif;
	@include text-size($text-size);
	font-weight: 400;
	letter-spacing: 0.5px;
	color: $coolwhite;
	cursor: pointer;
	background-image: linear-gradient(to right, #4facfe 0%, #00d5fe 100%);

	> * {
		z-index: 2;
	}

	> span {
		position: relative;
	}

	&:hover::before {
		opacity: 0.5;
	}

	&:active::before {
		opacity: 1;
	}

	&::before {
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-image: linear-gradient(to right, #4facfe 0%, #bff8ff 100%);
		transition: opacity 0.25s ease;
	}

	svg {
		position: absolute;
		top: 50%;
		right: 25px;
		font-size: inherit;
		height: 1.5em;
		width: 1.5em;
		transform: translateY(-50%) rotate(-180deg);
	}

	path {
		fill: $coolwhite;
	}

	&:active {
		border: none;
		outline: none;
	}
}

error-message {
	position: absolute;
	padding: 25px 10px 25px 6px;
	box-sizing: border-box;
	border-left: 4px solid red;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	left: 50%;
	transform: translateX(-50%);
	min-width: rem(400px);
	display: flex;
	top: 120%;
	background-color: $white;
	border-radius: 2px;

	span {
		justify-self: center;
		margin: 0 auto;
		font-family: "Roboto", sans-serif;
		color: $slate;
		@include text-size(16px);
	}

	&[hidden] {
		display: none;
	}
}