@import "config.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$header-size: rem(14px);
$name-size: rem(24px);
$gutter-width: 160px;
$gutter-anchor: 30px;

.sky {
	background-color: $sky;
}

.lightsky {
	background-color: #5078c4;
}

.gutter {
	width: $gutter-width;
	position: relative;

	.nav {
		position: absolute;
		top: calc(40px - 0.5em);
		display: inline-block;
		right: $gutter-anchor;
		font-size: $header-size;

		svg {
			display: block;
			cursor: pointer;
			height: 28px;
			width: auto;
		}

		path {
			fill: $white;
		}
	}
}

.controls {
	font-size: $nav-text-size;
	display: flex;
	flex-direction: row;
	height: 200px;

	.item {
		display: inline-block;
	}
}

.locations {
	display: inline-flex !important;
	height: 100%;
	width: 45%;
	position: relative;

	.location {
		display: flex;
		flex-direction: row;
		padding: 40px 20px;
		box-sizing: border-box;
		width: 50%;
		position: relative;
		justify-content: center;

		.content {
			display: flex;
			flex-direction: column;
		}

		h3 {
			margin: 0;
			font-family: "Roboto", sans-serif;
			color: #B5C9FA;
			font-weight: 500;
			font-size: $header-size;
		}

		.name {
			color: $white;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-size: $name-size;
			justify-self: end;
			margin-top: auto;
		}

		> * {
			//flex: 1 1 auto;
		}
	}

	.flight-indicator {
		left: calc(50% - #{(1.1 / 2)}em);
		bottom: calc(40px - 0.05em);
		display: inline;
		position: absolute;
		font-size: $name-size;
		flex: none;

		svg {
			display: block;
			width: auto;
			height: 1.1em;

			path {
				fill: $white;
			}
		}
	}
}

.filter-date {
	display: inline-flex !important;
	flex-direction: column;
	width: 55%;

	> div {
		height: 50%;
	}
}